<% provide(:title, "Mortar") %>
<div class="center jumbotron">
    <h1>Mortar</h1>
    
    <p>The Mortar is a high-end mechanical keyboard developed right here at Brick Works. The keyboard is designed with the enthusiast at mind and as a standard option comes fully assembled,
            but for those who wish to save some money and want a fun DIY project, we also offer the Mortar as a kit. It utilizes a Teensy 2.0, which makes the Mortar easy to program. You can design as many layers
            as you would like for all sorts of different functions and purposes. The switches on the Mortar come stock as Cherry MX, but if you decide to build it yourself, you can put on any Cherry-clone switch
            you'd like.</p>
  </div>
<h2 class="text-left">It starts with a schematic</h2>            
<%= link_to image_tag("MortarSchematic.png", alt: "Mortar Schematic")%>
<p>The Mortar was made with a CAD software named "KICAD." It's open source, so anyone can use it! For the standard Mortar, we use a Teensy 2.0 for the brains. We decided on a Teensy becuase they are widely available and
            easy to program.</p>
<h2 class="text-left">Designing the cicuit board</h2>            
<%= link_to image_tag("MortarBoardLayout.png", alt: "Mortar Circuit Board Layout")%>
<p>Once we finished the schematic for the Mortar, it was time to build the design of the circuit board. Here, we laid out each of the components in their appropriate spot, then connected them all with traces.</p>
<h2 class="text-left">3D render of the circuit board</h2> 
<%= link_to image_tag("Mortar3DFront.png", alt: "Mortar 3D Front")%>
<%= link_to image_tag("Mortar3DBack.png", alt: "Mortar 3D Back")%>
<p>KICAD allows you to view your circuit board in a 3D viewer to give a good look at what the physical board could look like.</p>
<h2 class="text-left">Pricing</h2>
<p>The Mortar fully assembled is $150.</p>
<p>The Mortar DIY kit is $100.</p>
<% if logged_in? %>
  <div class="row">
    <aside class="center">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h2>Please log in to create and view reviews.</h2>
  </div>
<% end %>